<table border="0" cellpadding="2" cellspacing="0" style="border-collapse: collapse; width: 80%; margin: 3em; font-family: monospace; font-size: small">
	<tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;background-color: #EBF3FD;">
    	<td style="border-right: 1px solid #ccc; line-height: 1.8em;">&nbsp;StackTrace</td>
        <td style="border-right: 1px solid #ccc; line-height: 1.8em;">TimeDuration</td>
    </tr>
    <tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;">
    	<td>&nbsp;<img src="../../assets/treeicon.png"><img src="../../assets/hotpath.png"> ROOT</td>
        <td>3886</td>
    </tr>
    <tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;">
    	<td style="color:darkgray;">&nbsp;&nbsp;<img style="margin-left:1em;" src="../../assets/treeicon.png"><img src="../../assets/hotpath.png"> Process32 w3wp (4156) Args: -ap "demowebcamp" -v "v4.0" -a "\\.\pipe\iisipm77155f87-f8f3-4c5f-8482-72ac65d5a52c" -h "C:\DWASFiles\Sites\demowebcamp\Co...</td>
        <td>3886</td>
    </tr>
    <tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;">
    	<td style="color:darkgray;">&nbsp;&nbsp;&nbsp;<img style="margin-left:2em;" src="../../assets/treeicon.png"><img src="../../assets/hotpath.png"> Thread (8000) CPU=32ms (.NET ThreadPool Worker)</td>
        <td>3886</td>
    </tr>
    <tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;">
    	<td style="color:darkgray;">&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-left:3em;" src="../../assets/treeicon.png"><img src="../../assets/hotpath.png"> OTHER &lt;&lt;ntdll!_RtlUserThreadStart&gt;&gt;</td>
        <td>3886</td>
    </tr>
    <tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;">
    	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-left:4em;" src="../../assets/treeicon.png"><img src="../../assets/hotpath.png"> app_web_5e5et5p2!ASP.highcpupage1_aspx.ProcessRequest</td>
        <td>3886</td>
    </tr>
    <tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;">
    	<td style="color:darkgray;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-left:5em;" src="../../assets/treeicon.png"><img src="../../assets/hotpath.png"> OTHER &lt;&lt;system.web.ni!System.Web.UI.Page.ProcessRequest</td>
        <td>3886</td>
    </tr>
    <tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;">
    	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-left:6em;" src="../../assets/treeicon.png"><img src="../../assets/hotpath.png"> mawshol!demomvp.HighCPUPage1.Page_Load</td>
        <td>3886</td>
    </tr>
    <tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;">
    	<td>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-left:7em;" src="../../assets/treeicon.png"><img src="../../assets/hotpath.png"> mawshol!demomvp.HighCPUPage1.ForceCpuUsage <i style="color:blue;cursor: pointer;" class="fa fa-search fa-flip-horizontal"  mat-button (click)="openDialog('mawshol!demomvp.HighCPUPage1.ForceCpuUsage(int32)')"></i></td>
        <td>3886</td>
    </tr>
    <tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;">
    	<td style="color:darkgray;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-left:8em;" src="../../assets/treeicon.png"><img src="../../assets/hotpath.png"> OTHER &lt;&lt;mscorlib.ni!System.Threading.Thread.Start</td>
        <td>3886</td>
    </tr>
    <tr style="border-bottom: 0px solid #ccc; line-height: 1.8em;">
    	<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="margin-left:9em;" src="../../assets/treeicon-end.png"><img src="../../assets/hotpath.png"> BLOCKED_TIME</td>
        <td>3885</td>
    </tr>
</table>
