 <div class = "container">
    <div class="flex-row title-bar">
        <div class="titleText"><h3>Code for function <span class="modal-function-name">{{data.functionName}}</span></h3></div>
        <div class="closeAction" (click)="closeDialog()"><i class="fa fa-times"></i></div>
    </div>
    <hr/>
    <div class="flex-row" style="height: 100%;border:1px solid black;">
        <div class="function-list" style="width:30%"><ul><li>{{data.functionName}}</li></ul></div>
        <div class="flex-column" style="width:70%">
            <div style="border:1px solid black;height: 500px;">
                <ngx-monaco-editor style="height: 100%;" (onInit)="onInit($event)" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
            </div>
            <div style="border:1px solid black;">
                <div *ngIf="!!codeAnalysisResult && !!codeAnalysisResult.analysisResults && codeAnalysisResult.analysisResults.length > 0">
                    <div *ngFor="let analysisResult of codeAnalysisResult.analysisResults">
                        <div *ngIf = "!!analysisResult" (click)="highlightCodeLine(analysisResult)" style="cursor: pointer;">
                            <div class="flex-row">
                                <div style="display: flex;align-self: center;padding-left: 4px;padding-right: 8px;"><i [ngClass]="getStatusIcon(analysisResult.level)"></i></div>
                                <div class="flex-column" >
                                    <div style="font-size:larger;padding:2px 5px 2px 5px; border-bottom:1px solid #ccc; line-height: 1.8em;"><strong>{{analysisResult.title}}</strong></div>
                                    <div class="flexGrid" style="display: grid;">
                                        <div style="display: grid;grid-row-start: 1;grid-column-start: 1;padding:2px 5px 2px 5px;"><strong>Description</strong></div>
                                        <div style="display: grid;grid-row-start: 1;grid-column-start: 2;padding:2px 5px 2px 5px;">{{analysisResult.description}}</div>
                                        <div style="display: grid;grid-row-start: 2;grid-column-start: 1;padding:2px 5px 2px 5px;"><strong>Suggested Fix</strong></div>
                                        <div style="display: grid;grid-row-start: 2;grid-column-start: 2;padding:2px 5px 2px 5px;">{{analysisResult.suggestedFix}}</div>
                                    </div>
                                </div>
                            </div>
                            

                        </div>
                    </div>
                </div>
                <div *ngIf="codeAnalysisResult === null">
                    Analyzing for known issues...
                </div>
                <div *ngIf="!!codeAnalysisResult && (codeAnalysisResult.analysisResults == null || codeAnalysisResult.analysisResults.length == 0) ">
                    Code analysis failed..
                </div>
            </div>
        </div>
    </div>
</div>   