.container {
    //font-family: Arial, Helvetica, sans-serif;    
    font-family: monospace;
}

.modal-function-name {
    font-size: 90%;
    color:#c7254e;
    background-color: #f9f2f4;
    padding:2px 4px;
    border-radius: 4px;
}

.flex-row {
    flex-direction: row;
    display: flex;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.title-bar {    
    
    justify-content: space-between;

}

.closeAction {
    cursor: pointer;
    display: flex;
    align-self: flex-start;

}

.function-list {
    font-family: monospace;
    overflow-wrap: break-word;
}

.success-color {
    color:#3da907;
}

.info-color {
    color:#3a9bc7;
}

.warning-color {
    color:#ff9104;
}

.critical-color {
    color:red;
}